body {
    padding-top: 70px;
}

.noscript {
    margin: 5em auto;
    text-align: center;
}

#admin_items_list button {
    float: left;
    margin-right: 10px;
}

#admin_items_list td {
    vertical-align: middle;
}

.dimmed {
    color: #AAA;
}